*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    background: linear-gradient(270deg,#81ecec, #00b894 );
    color: black;
    min-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
}
.form-title{
    font-weight: 600;
    color: #F1BD6C;
    font-size: 2.5rem;
    margin-bottom: .5rem;
}
.form-title hr{
    border: none;
    height: .313rem;
    width: 7.5rem;
    background-color: #F1BD6C;
    border-radius: 10px;
    margin-bottom: 1.25rem;
}

.input-fields{
    background-color: #ffffff;
    width: 25rem;
    height: 3.125rem;
    border: none;
    outline: none;
    padding-left: 1.5rem;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.input-fields:focus{
    border: 2px solid #93d7b7;

}

.input-fields::placeholder{
    color: #a9a9a9;
}

.form-container textarea{
    height: 8.75rem;
    border-radius: 20px;
    padding-top: .915rem;
}

.form-container button{
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
}

@media (max-width:800px) {
    .input-fields{
        width: 80vw;
    }
    .image-container{
        display: none;
    }
}